{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="w3-container w3-content">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h3 class="mb-3 font-weight-normal">Connectez-vous</h3>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    required autofocus>
                <br>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <!-- An element to toggle between password visibility -->
                <input type="checkbox" onclick="showPSWD()" id="inputPassword"> Show Password

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <div class="row">
                    <div class="col-6 p-3 my-auto">
                        <button type="submit" class="btn btn-lg btn-primary">Se connecter</button>
                    </div>

                    <div class="col-6 p-3 my-auto">
                        Pas inscrit ?  
                        <a class="btn btn-lg btn-info" href="{{ path('app_register') }}">Inscription</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}