/* **************************************** RESET **************************************** */
*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Gill Sans MT', Georgia, 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 2vh;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin-top: 1vh;
    margin-bottom: 5vh;
    background-color: #f5d800;
}

/* **************************************** BASE - NAVBAR **************************************** */
a:hover{
    text-decoration: none;
}

.avatar {
    vertical-align: middle;
    max-width: 70px;
    max-height: 70px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    float: right;
}

/* **************************************** HOME - INDEX **************************************** */
.row {
    padding: 1%;
}
.w3-col {
    margin-top: 7%;
    margin-bottom: 7%;
}

.container {
    height: 90%;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
    background-image: url('../img/logo.png');
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
}
.w3-button {margin-left: 25px;}

.w3-image {
    width: 70%;
    max-width: 80px;
}
.logo {
    margin-top: 9%;
    width: 180%;
    max-width: 250px;
}

.fiche {
    line-height: 13px;
}
.fiche h4 {
    text-transform: uppercase;
}
.portrait {
    max-width: 150px;
    width: 100%;
}

/* **************************************** HOME - PAGE **************************************** */
@media (max-width: 992px){
    .w3-auto {
        max-width: 90%;
    }
}

.list-group{
    margin-top: 30px;
}

.table {
    background-color: white;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.myLink {
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #A9A9A9; /* Set a background color */
    opacity: 0.6;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 12px; /* Rounded corners */
    font-size: 28px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn {
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    font-size: 90%;
}

.btn:hover {
    opacity: 0.8;
    background-color: #555;
}

span.psw {
    float: right;
    padding-top: 16px;
}