{% extends 'base.html.twig' %}

{% block title %}Edit Prestations{% endblock %}

{% block body %}
<div class="w3-container">
    <div class="col-6 p-5">

        <h2>Edit Prestations</h2>

        {{ include('prestations/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="javascript:history.back()" class="btn btn-info">Retour</a>

        {{ include('prestations/_delete_form.html.twig') }}

    </div>
</div>
{% endblock %}