{% extends 'base.html.twig' %}

{% block title %}Nouvelle Prestation{% endblock %}

{% block body %}
<div class="col-md-8 offset-sm-3 p-2">

    <a href="javascript:history.back()"><i class="fa fa-arrow-left" style="font-size:36px"></i></a>

    <h2>Créer une prestation</h2>

    {{ include('prestations/_form.html.twig') }}

</div>
{% endblock %}