{% extends 'base.html.twig' %}

{% block title %}Mon Espace{% endblock %}

{% block body %}
<div class="col-md-8 offset-sm-3 p-2">

    <h2>Mes informations personnelles</h2>

    {{ include('user/_form.html.twig', {'button_label': 'Confirmer vos modifications'}) }}

    <a href="javascript:history.back()" class="btn btn-info">Retour</a>

    {{ include('user/_delete_form.html.twig') }}

</div>
{% endblock %}